<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>LOS ANGELES MOUNTAINS</title>

        <link rel="stylesheet" href="../static/stylesheets/normalize.css">
        <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">

        <script src="https://unpkg.com/jquery"></script>
        <script src="https://unpkg.com/popper"></script>
        <script src="https://unpkg.com/bootstrap"></script>

        <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"> -->

        <!-- <link rel="shortcut icon" href="/static/favicon.ico"> -->
        <link rel="icon" href="https://img.icons8.com/emoji/48/000000/money-mouth-face.png" type="image/x-icon">
        <link rel="stylesheet" href="../static/stylesheets/style.css">
    </head>

    <body>
        <div class="container">

            <div class="message-404">
                <h4 class="display-4">
                    Sorry, that page doesn't exist! {{ request.status }}
                </h4>
                <p class="m-3">
                    Please return to the <a href="/"><b>homepage</b></a>.
                </p>
            </div>

        </div>
    </body>

</html>
